<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo Application</title>
</head>
<body>
    <h1>Todo Application</h1>
    <div>
        <form action="/tasks" method="post">
            <div>
                <input type="text" name="title" placeholder="Add a new task..." required>
            </div>
            <div>
                <button type="submit">Add</button>
            </div>
        </form>
        <th:block th:each="task : ${tasks}">
            <div>
                <span th:text="${task.title}" th:style="${task.completed ? 'text-decoration: line-through;' : ''}" >Task Title</span>
            </div>
            <div>
                <button type="button" th:attr="data-task-id=${task.id}" onclick="deleteTask(this)">Delete</button>
                <button type="button" th:attr="data-task-id=${task.id}" onclick="toggleTask(this)">Toggle</button>
            </div>
        </th:block>
    </div>
    <script>
        const deleteTask = (element) => {
            const taskId =  element.dataset.taskId;
            
            fetch(`/tasks/${taskId}/delete`, {
                method: 'DELETE'
            }).then((response) => {
                window.location.reload()
            })
            
        }

        const toggleTask = (element) => {
            const taskId =  element.dataset.taskId;
            
            fetch(`/tasks/${taskId}/toggle`, {
                method: 'PUT'
            }).then((response) => {
                window.location.reload()
            }).catch((error) => {})
            
        }
    </script>
</body>
</html>